<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<title>{:__('order detail')} - {$site.name}</title>
        {include file="common/meta"}
    </head>
    <body class="padding-top">
        <div class="container-fluid">
        	<div class="row">

        		<!-- 订单信息 -->
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="box radius-none">
						<div class="box-header with-border">
							{:__('order_id')}：{$vo.order_id}
						</div>
						<div class="box-body">
							<div class="col-md-6 padding">
								{:__('goods name')}: {$vo.goodsDetail.name}
							</div>
							<div class="col-md-6 padding">
								{:__('buy num')}: {$vo.buy_num}
							</div>
							<div class="col-md-6 padding">
								{:__('price')}: {$vo.score}{:__('score')}
							</div>
							<div class="col-md-6 padding">
								{:__('order status')}: 
								{switch name="vo.status"}
									{case value="-2"} <span class="label label-danger">{:__('admin faild')}</span> {/case}
									{case value="0"} <span class="label label-default">{:__('unpaid')}</span> {/case}
									{case value="1"} <span class="label label-success">{:__('paid')}</span> {/case}
									{case value="2"} <span class="label label-info">{:__('shipped')}</span> {/case}
									{case value="3"} <span class="label label-primary">{:__('sign for')}</span> {/case}
									{case value="4"} <span class="label label-warning">{:__('outing')}</span> {/case}
									{case value="5"} <span class="label label-danger">{:__('out success')}</span> {/case}
									{default /} {:__('order error')}
								{/switch}
							</div>
							<div class="col-md-6 padding">
								{:__('pay time')}: {$vo.paytime|date="m-d-Y H:i:s",###}
							</div>
							<div class="col-md-6 padding">
								{:__('pay type')}: {:__($vo['paytype'])}{:__('pay text')}
							</div>
							<div class="col-md-12 padding">
								{:__('order other')}: {$vo.other}
								<p></p>
							</div>
							<div class="col-md-12 padding">
								<fieldset>
									{if($vo.goods_type == 0)}
										<legend><h3>{:__('consignee user info')}</h3></legend>
										<div class="col-md-6 padding">
											{:__('country')}: {$vo.addressInfo.country}
										</div>
										<div class="col-md-6 padding">
											{:__('province / city / xian')}: {$vo.addressInfo.region}
										</div>
										<div class="col-md-6 padding">
											{:__('zip code')}: {$vo.addressInfo.zip}
										</div>
										<div class="col-md-6 padding">
											{:__('mobile')}: {$vo.addressInfo.mobile}
										</div>
										<div class="col-md-12 padding">
											{:__('detail address')}: {$vo.addressInfo.address}
										</div>
									{/if}
								</fieldset>
								<fieldset>
									<legend><h3>{:__('replace result info')}</h3></legend>
									{if($vo.status > 1 || $vo.status == -2)}
										{if($vo.status != -2)}
											<div class="col-md-6 padding">
												{:__('sn_order')}: {$vo.virtual_sn}
											</div>
											<div class="col-md-6 padding">
												{:__('virtual name or wuliu')}: {$vo.virtual_name}
											</div>
											<div class="col-md-6 padding">
												{:__('virtual go time')}: {$vo.virtual_go_time}
											</div>
										{else /}
											<div class="col-md-12 padding">
												{$vo.result_other}
											</div>
										{/if}
										{if($vo.status >= 3)}
											<div class="col-md-6 padding">
												{:__('virtual sign time')}: {$vo.virtual_sign_time}
											</div>
										{/if}
									{else /}
										<div class="alert alert-warning">
											{:__('Waiting for the administrator to deliver the goods')}...
										</div>
									{/if}
								</fieldset>
							</div>
						</div>
					</div>
				</div>
				<!-- 订单信息 -->
			</div>
        </div>
        {include file="common/script"}
    </body>
</html>
