<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<title>{:__('store title')} – {:__('create order')}</title>
        {include file="common/meta"}
    </head>
    <body class="padding-top">
        <div class="container-fluid">
        	<div class="row">

        		<!-- 确认订单信息 -->
				<div class="col-sm-12">
					<div class="box-body">

						<div class="row">
							<div class="col-md-6">
								<div class="padding">
									{:__('goods name')}: {$item.name}
								</div>
								<div class="padding">
									{:__('buy num')}: 1
								</div>
								<div class="padding">
									{:__('price')}: 
									{switch name="$item['paytype']"}
										{case value="0"}
											{$item.scoreprice} {:__('score')}
										{/case}
										{case value="1"}
											${$item['money']}
										{/case}
										{case value="2"}
											{$item.scoreprice} {:__('score')}	+ $ {$item['money']
										{/case}
										{default /}
										{$item.scoreprice} {:__('score')}
									{/switch}
								</div>

								<div class="padding">
									{:__('order other')}
									<br>
									<br>
									<textarea name="other" id="other" class="form-control" rows="8"></textarea>
								</div>

								<br>
								<br>
								<div class="col-md-6 clearfix">
									<a href="javascript:;" data-param="{$item.id}" data-goods_type="{$item.type}" id="order_pay" class="btn btn-block btn-warning">{:__('replace pay')}</a>
								</div>
							</div>
							

								<div class="col-md-6">
									<h3>{:__('Select recipient')} <a href="javascript:;" class="btn btn-sm btn-warning <!--insert-address--> pull-right search-member">{:__('Search')}{:__('Member')}</a></h3>
									<br>
									<ul class="goods-order-address">
										<!--{if(empty($add))}
											<li>
												{:__('empty')}
											</li>
										{/if}
										{volist name="add" id="vi"}
											<li {if($vi.status == 1)}class="margin-bottom item active" {else /}class="margin-bottom item"{/if} data-param="{$vi.id}">
												<div class="col-sm-10 padding">
													<ul>
														<li class="pull-left">
															{:__('zip code')}：{$vi.zip} {:__('mobile')}：{$vi.mobile}  {:__('consignee')}：{$vi.firstname} {$vi.lastname}
															<p class="padding-top h5 bg-default">{:__('address')}：{$vi.country} {$vi.region} {$vi.city} {$vi.address}</p>
														</li>
													</ul>
													<div class="clearfix"></div>
												</div>
												<div class="col-xs-2 no-padding">
													<a href="javascript:;" data-id="{$vi.id}" style="height: 100%; line-height: 100%" class="btn btn-flat btn-info btn-block edit-btn">{:__('edit')}</a>
												</div>
												
												<div class="clearfix"></div>
											</li>

										{/volist}

										<li class="margin-bottom item">
											<div class="media" style="padding: 5px">
												<div class="media-left">
													<a href="/index/zone/index/u/3">
														<img class="media-object" data-src="/uploads/avatar/1531791614-3.png" alt="64x64" style="width: 64px; height: 64px;" src="/uploads/avatar/1531791614-3.png" data-holder-rendered="true">
													</a>
												</div>
												<div class="media-body">
													<h4 class="media-heading col-md-12"><i class="fa fa-venus text-danger fa-fw"></i>yangmengyu1 , 1 , 安道尔   </h4>
													<div class="col-md-12">
														这个人很懒,啥也没写
													</div>
												</div>
											</div>
										</li>-->
									</ul>
									<input type="hidden" value="" name="uid" id="uid" />
								</div>

								
						</div>
					</div>
				</div>
				<!-- ./ 确认订单信息 -->
			</div>
        </div>
        {include file="common/script"}
		<!-- Layer -->
		<script src="__ADDON__/js/layer/src/layer.js"></script>
        <script>
        	$(document).ready(function() {
        		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        		var active = $(".goods-order-address .active");

        		if(active.length < 1)
        		{
        			$('.goods-order-address .item').eq(0).addClass('active');
        		}

        		$("#giver_id").val($('.goods-order-address .active').attr("data-param"));

        		
        		//核对收货地址数量最多10个
        		$('.insert-address').on('click', function() {
        			$.ajax({
        				url: '{:addon_url("leescore/address/check")}',
        				type: 'get',
        				dataType: 'json',
						
						success: function (result)
						{
							if(result >= 10) return false;
							layer.open({
								type: 2,
								title: '{:__("address")}{:__("add")}',
								cancel: function(){
									window.location.reload();
								},
								shadeClose: true,
								shade: 0.7,
								area: ['100%', '100%'],
								content: '{:addon_url("leescore/address/add")}' //iframe的url
							});
						}
        			});
        		});

        		//搜索会员
                $('.search-member').on('click', function() {
                    var aurl = "{:addon_url('leescore/order/searchmember')}";
                    layer.prompt({title: '请输入会员编号或昵称进行搜索', formType: 3}, function(keywords, index){
                        $.ajax({
                            url: aurl,
                            type: 'post',
                            dataType: 'json',
                            data: {'keywords':keywords},
                            success: function(json){
                                var html = "";
                                if(json.code == true){
                                    $.each(json.data,function(key,item) {
                                        console.log(item);
                                        html += "<li class=\"margin-bottom item\"  data-param='"+item.id+"'>\n" +
                                            "\t\t\t\t\t\t\t\t\t\t\t<div class=\"media\" style=\"padding: 5px\">\n" +
                                            "\t\t\t\t\t\t\t\t\t\t\t\t<div class=\"media-left\">\n" +
                                            "\t\t\t\t\t\t\t\t\t\t\t\t\t<a href=\"/index/zone/index/u/3\">\n" +
                                            "\t\t\t\t\t\t\t\t\t\t\t\t\t\t<img class=\"media-object\" data-src='"+item.avatar+"' alt='"+item.nickname+"' style=\"width: 64px; height: 64px;\" src='"+item.avatar+"' data-holder-rendered=\"true\">\n" +
                                            "\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n" +
                                            "\t\t\t\t\t\t\t\t\t\t\t\t</div>\n" +
                                            "\t\t\t\t\t\t\t\t\t\t\t\t<div class=\"media-body\">\n" +
                                            "\t\t\t\t\t\t\t\t\t\t\t\t\t<h4 class=\"media-heading col-md-12\"><i class=\"fa fa-venus text-danger fa-fw\"></i>"+item.nickname+" , "+item.birthday+" , "+item.country+"   </h4>\n" +
                                            "\t\t\t\t\t\t\t\t\t\t\t\t\t<div class=\"col-md-12\">\n" ;
                                        if(item.bio){
                                            html += item.bio;
                                        }else{
                                            html += "{:__('This guy hasnot written anything yet')}";
                                        }
                                        html +=  "\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n" +
                                            "\t\t\t\t\t\t\t\t\t\t\t\t</div>\n" +
                                            "\t\t\t\t\t\t\t\t\t\t\t</div>\n" +
                                            "\t\t\t\t\t\t\t\t\t\t</li>";
                                    });
								}else{
									html += "<li>"+"{:__('empty')}"+"</li>";
								}
                               $('.goods-order-address').html(html);
                            }
                        });
                        layer.close(index);
                    });
				});

        		//提交订单
        		$("#order_pay").on('click', function() {
        			var other = $("#other").val();
        			var aurl = "{:addon_url('leescore/order/pay')}";
        			var uid = $("#uid");
        			var gid = $('#order_pay').data('param');
        			var goods_type = $('#order_pay').data('goods_type');
        			if(uid.length > 0 && uid.val() == ''){
        				$("#uid").focus();
        				layer.msg("{:__('art empty tip')}");
        				return false;
        			}
                    layer.confirm("{:__('Make sure to exchange the goods')}", {
                        btn: ['{:__("yes")}','{:__("no")}'] //按钮
                    }, function(){
                        $.ajax({
                            url: aurl,
                            type: 'post',
                            dataType: 'json',
                            data: {gid: gid,other: other, uid: uid.val(),'goods_type':goods_type},
                            success: function(json){
                                if(json.code == true)
                                {
                                    //关闭iframe
                                    /*
                                    parent.layer.alert(json.msg, {
                                        icon: 1,
                                        skin: 'layer-ext-moon'
                                    });
                                    */
                                    layer.confirm(json.msg, {
                                        btn: ['{:__("yes")}','{:__("no")}'] //按钮
                                    }, function(){
                                        parent.location.href = "{:addon_url('leescore/order/index')}";
                                    }, function(){
                                        parent.layer.close(index);
                                    });


                                }else{
                                    layer.alert(json.msg, {
                                        icon: 2,
                                        skin: 'layer-ext-moon'
                                    });
                                }
                            }
                        });
                    }, function(){

                    });

        		});


        		$('.edit-btn').on('click', function() {
        			var bwith = $("body").width();
	        		var id = $(this).attr('data-id');
	        		var w = bwith < 768 ? '100%' : '100%';
	        		var eurl = '{:addon_url("leescore/address/edit")}';
	        		eurl = eurl + "?id="+ id;
					layer.open({
						type: 2,
						title: '{:__("address")}{:__("edit")}',
						shadeClose: true,
						cancel: function(){
							window.location.reload();
						},
						shade: 0.7,
						area: [w, w],
						content: eurl //iframe的url
					});
        		});
                $(".goods-order-address").on("click",'.item',function(){
        			$('.goods-order-address .item').removeClass('active');
        			$(this).addClass('active');
        			$("#uid").val($(this).attr("data-param"));
        		});
        	});
        </script>
    </body>
</html>
