<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
    .box{
        margin-top: 10%;
        margin-bottom: 10px;
        color: #FF5722;
        font-size: 18px;
        margin-left: 45%;
    }
    .box1{
        width: 900px;
        height: 500px;
        margin-left: auto;
        border:solid  1px;
        margin-right:auto;
    }
    .box1 .controls{

    }
    .upload-icon-img{
        height: 100%;
    }
    .upload-pre-item{
        position: relative;
    }
    .upload-pre-item .img{
        margin-top: 5px;
        width:100px;
        height: 100px;
    }
    .upload-pre-item i {
        position: absolute;
        cursor: pointer;
        top: 5px;
        background: #2F4056;
        padding: 2px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        margin-left: 1px;
        /* float: left; */
        filter: alpha(opacity=80);
        -moz-opacity: .8;
        -khtml-opacity: .8;
        opacity: .8;
        transition: 1s;
    }
    .upload-pre-item i:hover{transform:rotate(360deg);}
    .upload-pre-item,.upload-icon-img{
        width:120px;
        float: left;
        margin-left: 8px;
    }
    .qqFace { margin-top: 4px; background: #fff; padding: 2px; border: 1px #dfe6f6 solid; }
    .qqFace table td { padding: 0px; }
    .qqFace table td img { cursor: pointer; border: 1px #fff solid; }
    .qqFace table td img:hover { border: 1px #0066cc solid; }
</style>
<link rel="stylesheet" href="__CDN__/assets/home/css/gallery-grid.css">
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav_index" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h2 class="page-header">
                        {:__('%s personal space',$userzone.nickname)}
                    </h2>
                    <div class="row user-baseinfo">
                        <div class="col-md-3 col-sm-3 col-xs-2 text-center user-center">
                            <span class="avatar-img"><img src="{$userzone.avatar}" alt=""></span>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-10">
                            <!-- Content -->
                            <div class="ui-content">
                                <h3>
                                    {$userzone.nickname}
                                    {if $userzone.isvip==1}<i class="iconfont" style="color:#e60020;margin-left: 20px;">&#xe601;</i>{/if}
                                </h3>
                                <br>
                                <div class="layui-card">
                                    <div class="layui-card-header">
                                        {:__($userzone.country)},
                                        {$userzone.height}cm,
                                        {$userzone.weight}kg,
                                        ID:{$userzone.id}
                                    </div>
                                    <div class="layui-card-body">
                                        {:__('Intro')}：{$userzone.bio|default=__("This guy hasn't written anything yet")}
                                    </div>
                                    <div class="layui-card-body">
                                        {volist name="$userzone.interest" id="interest"}
                                        <span class="label label-success">{:__($interest)}</span>
                                        {/volist}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="layui-tab layui-tab-brief" lay-filter="demo">
                        <ul class="layui-tab-title">
                            <li data-url="{:url('zone/index',['id'=>$userzone.id])}" class="layui-this">{:__('Home page')}</li>
                            <li data-url="{:url('zone/photo',['id'=>$userzone.id])}">{:__('Photo album')}</li>
                            <!--<li data-url="{:url('user/video')}">{:__('Video')}</li>-->
                        </ul>
                        <div class="layui-tab-content ">
                            <div class="layui-tab-item layui-show">
                                <ul class="layui-timeline" id="LAY-FLOW">
                                    <li class="layui-timeline-item">
                                        <i class="layui-icon layui-timeline-axis"></i>
                                        <div class="layui-timeline-content layui-text">

                                            <p class="layui-timeline-title"> 测</p>
                                            <div class="tz-gallery container" style="width: 100%;padding-left: 0;"><div class="tz-img">
                                                <a class="lightbox" href="/uploads/20180721/060a2bf9226d3a32af59ae71a24dc50a.jpg">
                                                    <img src="/uploads/20180721/060a2bf9226d3a32af59ae71a24dc50a.jpg">
                                                </a>
                                            </div>
                                                <div class="tz-img">
                                                <a class="lightbox" href="/uploads/20180721/8e8e51c4ce20fa4a20df09988e925e90.jpg">
                                                    <img src="/uploads/20180721/8e8e51c4ce20fa4a20df09988e925e90.jpg">
                                                </a>
                                            </div></div>
                                            <h6 style="margin-top: 10px;">
                                                <span>2018-07-21 14:58:29 </span>
                                                <span>
                                                    <i class="fa fa-thumbs-up fa-fw"></i>12
                                                    <i class="fa fa-commenting fa-fw"></i>12
                                                </span>
                                            </h6>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="layui-tab-item"></div>
                            <!--<div class="layui-tab-item">{:__('Video')}</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__CDN__/assets/home/js/jquery.qqFace.js"></script>
<script type="text/javascript" src="__CDN__/assets/home/js/dynamic.js"></script>

<script>
    layui.use(['element','flow'], function(){
        var element = layui.element,upload = layui.upload,flow = layui.flow;

        //一些事件监听
        element.on('tab(demo)', function(data){
            var url = $(this).data('url');
            window.location.href = url;
        });
        flow.load({
            elem: '#LAY-FLOW' //流加载容器
            ,done: function(page, next){ //执行下一页的回调
                var url = '{:url("zone/dynamic")}',user_id = '{$user_id}';
                $.post(url, {page:page,user_id:user_id}, function(res){
                    if(res.code == 1){
                        var lis = [];
                        layui.each(res.data.dynamic, function(index, item){
                            var str = '<li class="layui-timeline-item">\n' +
                                '<i class="layui-icon layui-timeline-axis"></i>\n' +
                                '<div class="layui-timeline-content layui-text">\n' +
                                '<h3 class="layui-timeline-title">'+item.createtime+'</h3>\n' +
                                '<p style="margin-bottom: 10px;"> '+replace_em(item.content)+'</p>\n' +
                                '<div class="tz-gallery container" style="width: 100%;padding-left: 0;">';
                            if(item.images){
                                layui.each(item.images, function(index1, item1){
                                    str += '<div class="tz-img">\n' +
                                        '<a class="lightbox" href="'+item1.url+'">\n' +
                                        '<img src="'+item1.url+'">\n' +
                                        '</a>\n' +
                                        '</div>';
                                })
                            }
                            str += '</div>\n' +
                                '</div>\n' +
                                '</li>';
                            lis.push(str);
                        });
                        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                        next(lis.join(''), page < res.data.total);
                    }else{
                        layer.msg(res.msg);
                    }
                    baguetteBox.run('.tz-gallery');
                });
            }
        });
        function replace_em(str){
            str = str.replace(/\</g,'&lt;');
            str = str.replace(/\>/g,'&gt;');
            str = str.replace(/\n/g,'<br/>');
            str = str.replace(/\[em_([0-9]*)\]/g,'<img src="__CDN__/assets/home/arclist/$1.gif" border="0" />');
            return str;
        }
    });
</script>
