<section class="article-section">
    <article class="article-item">
        <div class="article-metas clearfix">
            <div class="pull-left">
                <div class="date">
                    <div class="day">{$item.createtime|date='d',###}</div>
                    <div class="month">{$item.createtime|date='m',###}{:__('Month')}</div>
                </div>
            </div>
            <div class="metas-body">
                <h3 class="title"><a href="{$item.url}">{$item.title}</a></h3>
                <p><a href="{$item.channel.url}">{$item.channel.name}</a></p>
            </div>
        </div>
        <div class="media">
            {if $item.hasimage}
            <div class="media-left">
                <a href="{$item.url}">
                    {$item.imglink}
                </a>
            </div>
            {/if}
            <div class="media-body">
                {$item.description}
            </div>
        </div>
        <div class="article-tag">
            <div class="pull-left">
                {:__('Tags')}：<span itemprop="keywords">
                    {volist name="$item.tagslist" id="tag"}
                    <a href="{$tag.url}" rel="tag">{$tag.name}</a>{if isset($__LIST__[$i])},{/if} 
                    {/volist}
                </span>
            </div>
            <div class="pull-right">
                <a href="{$item.url}" class="btn btn-success"><i class="fa fa-angle-right"></i> {:__('View more')}</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </article>
</section>