<link rel="stylesheet" href="__CDN__/assets/home/css/thumbnail-gallery.css">
<script src="__CDN__/assets/home/js/baguetteBox.min.js"></script>
<style>

</style>
<div id="content-container" class="container">
    {include file="common/onwall"}
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav_index" /}
        </div>
        <div class="col-md-9">
            <div class="panel">
                <div class="panel-body">

                    <h2 class="page-header">{:__('People who like me')}</h2>
                    <div class="layui-tab layui-tab-brief" lay-filter="demo">
                        <ul class="layui-tab-title">
                            <li data-url="{:url('index/ilike')}">{:__('The person I like')}</li>
                            <li data-url="{:url('index/likeme')}"  class="layui-this">{:__('People who like me')}</li>
                            <li data-url="{:url('index/likeeach')}">{:__('Like each other')}</li>
                            <!--<li data-url="{:url('user/video')}">{:__('Video')}</li>-->
                        </ul>
                        <div class="layui-tab-content ">
                            <div class="layui-tab-item layui-show"></div>
                            <div class="layui-tab-item"></div>
                            <div class="layui-tab-item"></div>
                            <!--<div class="layui-tab-item">{:__('Video')}</div>-->
                        </div>
                    </div>
                    <div class="tz-gallery">

                        <div class="row">
                            <ul class="flow-default" id="LAY_demo1"></ul>
                            <!--<li class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <a class="lightbox" href="/uploads/images/park.jpg">
                                        <img src="/uploads/images/park.jpg" alt="Park">
                                    </a>
                                    <div class="caption caption_1">
                                        <h3>
                                            <span>yangmengyu</span>
                                            <i class="iconfont">&#xe601;</i>
                                            <i class="layui-icon layui-icon-radio"></i>
                                        </h3>
                                        <p>
                                            27,安道尔
                                        </p>
                                    </div>
                                    <div class="caption caption_2">
                                        <span class="fa-stack fa-2x icon-heart" >
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-heart-o fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack fa-2x icon-email">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-envelope-o fa-stack-1x"></i>
                                        </span>

                                    </div>
                                </div>
                            </li>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('element', function(){
        var element = layui.element,upload = layui.upload;

        //一些事件监听
        element.on('tab(demo)', function(data){
            var url = $(this).data('url');
            window.location.href = url;
        });

    });
</script>

<script>
    layui.use(['flow','carousel'], function(){
        var flow = layui.flow
            ,carousel = layui.carousel
            ,param =  location.search;

        //图片轮播
        carousel.render({
            elem: '#test10'
            ,width: '760px'
            ,height: '260px'
            ,interval: 5000
        });

        flow.load({
            elem: '#LAY_demo1' //流加载容器
            ,done: function(page, next){ //执行下一页的回调
                var url = '{:url("index/likeme")}';
                $.post(url+param, {page:page}, function(res){
                    if(res.code == 1){
                        var lis = [];
                        layui.each(res.data.data, function(index, item){
                            var url = "/index/zone/index/u/"+item.id;
                            var str = '<li class="col-sm-6 col-md-4"> <div class="thumbnail"> <a class="lightbox" href="'+url+'"> <img src="'+item.avatar+'" alt="Park"> </a> <div class="caption caption_1"> <h3>';
                            if(item.gender == '0'){
                                str += '<span><i class="fa fa-venus text-danger fa-fw"></i>'+item.nickname+'</span>';
                            }else if(item.gender == '1'){
                                str += '<i class="fa fa-mars text-info fa-fw"></i><span>'+item.nickname+'</span>';
                            }else{
                                str += '<i class="fa fa-genderless text-success fa-fw"></i><span>'+item.nickname+'</span>';
                            }

                            //是否为 VIP
                            if(item.isvip == 1){
                                str += '<i class="iconfont">&#xe601;</i>';
                            }
                            //是否在线
                            if(item.online == 'online') {
                                str += '<i class="layui-icon layui-icon-radio"></i>';
                            }
                            str += '</h3> <p>'+item.age+','+item.country+' </p> </div> <div class="caption caption_2"> ';
                            //是否喜欢
                            if(item.like==1){
                                str += '<span data-uid="'+item.id+'" class="fa-stack fa-2x icon-heart active" > <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-heart fa-stack-1x"></i></span>';
                            }else{
                                str += '<span data-uid="'+item.id+'" class="fa-stack fa-2x icon-heart" > <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-heart-o fa-stack-1x"></i></span>';
                            }
                            //发送消息
                            str += '<span data-uid="'+item.id+'" data-name="'+item.nickname+'" data-avatar="'+item.avatar+'" data-status="'+item.status+'" class="fa-stack fa-2x icon-email"><i class="fa fa-circle fa-stack-2x"></i>';6
                            str += '<i class="fa fa-envelope-o fa-stack-1x"></i>';
                            str += '</span></div> </div> </li>';
                            lis.push(str);
                        });
                        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                        next(lis.join(''), page < res.data.total);
                    }else{
                        layer.msg(res.msg);
                    }

                });


            }
        });


        //按屏加载图片
        flow.lazyimg({
            elem: '#LAY_demo3 img'
            ,scrollElem: '#LAY_demo3' //一般不用设置，此处只是演示需要。
        });
        $("#LAY_demo1").on("click",'.icon-email',function(){
            var  uid = $(this).data('uid'),
                name = $(this).data('name'),
                avatar =  $(this).data('avatar');
            parent.layui.layim.chat({
                name:  name
                ,type: 'friend'
                ,avatar: avatar
                ,status: status
                ,id: uid
            });
        });
        $("#LAY_demo1").on("click",'.icon-heart',function(){
            var uid = $(this).data('uid');
            $.post('{:url("index/like")}',{to:uid},function (res) {
                if(res.code == 1){
                    layer.msg(res.msg);
                    $('.icon-heart').addClass('active');
                    $(this).find('.fa-stack-1x').addClass('fa-heart');
                    $(this).find('.fa-stack-1x').removeClass('fa-heart-o');
                }else{
                    $('.icon-heart').removeClass('active');
                    layer.msg(res.msg);
                }
            })
        });

    });
</script>