<script>
    //layui绑定扩展
    layui.config({
        base: '__CDN__/assets/home/js/'
    }).extend({
        rmlib: 'rmlib',
        protobuf: 'protobuf',
        socket: 'socket',
    });


    layui.use(['layim', 'jquery', 'socket'], function (layim, socket) {
        var $ = layui.jquery;
        var socket = layui.socket;
        var token = $('body').data('token');
        var rykey = $('body').data('rykey');

        // socket初始化。
        socket.config({
            key: rykey,
            token: token,
            layim: layim,
        });

        layim.config({

            init: {
                url: '{:url("chat/get_user_data")}', data: {}
            }/*,
            //获取群成员
            members: {
                url: 'json/getMembers.json', data: {}
            }*/
            //上传图片接口
            /*, uploadImage: {
                url: '/upload/image' //（返回的数据格式见下文）
                , type: '' //默认post
            }*/
            //上传文件接口
            /*, uploadFile: {
                url: '/upload/file' //（返回的数据格式见下文）
                , type: '' //默认post
            }*/

            //, isAudio: false //开启聊天工具栏音频
            //, isVideo: false //开启聊天工具栏视频
            //扩展工具栏
            /*  , tool: [{
                  alias: 'code'
                  , title: '代码'
                  , icon: '&#xe64e;'
              }]*/
            ,title: 'HTIM'
            ,copyright:true
            ,isgroup:false
            , initSkin: '3.jpg' //1-5 设置初始背景
            , notice: true //是否开启桌面消息提醒，默认false
            ,min:true //默认最小化
            , msgbox: '{:url("chat/getmsgbox")}' //消息盒子页面地址，若不开启，剔除该项即可
            , find:'{:url("chat/find")}' //发现页面地址，若不开启，剔除该项即可
            , chatLog: '{:url("chat/chatlog")}' //聊天记录页面地址，若不开启，剔除该项即可
            ,information: '{:url("chat/information")}' //获取好友资料页面
            ,addchatlog: '{:url("chat/addchatlog")}' //添加聊天记录接口
            ,msgreplace: '{:url("chat/msgreplace")}' //敏感词屏蔽接口
            ,addMyGroup: '{:url("chat/addMyGroup")}' //添加分组接口
            ,editMyGroup: '{:url("chat/editMyGroup")}' //修改分组名称接口
            ,delMyGroup: '{:url("chat/delMyGroup")}' //删除分组接口
            ,moveFriend: '{:url("chat/moveFriend")}' //移动好友接口
            ,subscribed: '{:url("chat/subscribed")}' //好友请求通过返回接口
            ,getmsgboxnum: '{:url("chat/getmsgboxnum")}' //获取盒子数量
            ,changeSign: '{:url("chat/changeSign")}' //修改签名接口
            ,changeOnline: '{:url("chat/changeOnline")}' //修改在线状态接口
            ,removeFriends:'{:url("chat/removeFriends")}' //删除好友接口
            ,logout: '{:url("user/logout")}' //退出登录
        });
        //添加好友
        $('.add').click(function () {
            var obj = $(this), cache = parent.layui.layim.cache();
            var name = obj.data('name')
                ,uid = obj.data('uid')
                ,avatar = obj.data('avatar')
                ,group = cache.friend || []
                ,type = 'friend';
            layui.layim.add({  /*弹出添加好友对话框*/
                username:name || []
                ,uid:uid
                ,avatar:avatar?avatar:default_avatar
                ,group:cache.friend || []
                ,type:type
                ,submit:function (group,remark,index) {  /*确认发送添加请求*/
                    if(type == 'friend'){
                        $.post('{:url("chat/addMsg")}', {to: uid,msgType:1,remark:remark,mygroupid:group}, function (res) {
                            if (res.code !== 0) {
                                layer.msg(res.msg);
                            }else{
                                layer.msg(res.msg);
                            }
                        });

                    }else{
                        layer.msg(res.msg);
                    }
                    layer.close(index);
                }
            })
        })

        //上墙
        $('.onwall').click(function () {
            alert(1);
        })
    });
</script>