<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel">
                <div class="panel-body">
                    <h2 class="page-header">{:__('Change password')}</h2>
                    <form id="changepwd-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                        {:token()}
                        <div class="form-group">
                            <label for="oldpassword" class="control-label col-xs-12 col-sm-2">{:__('Old password')}:</label>
                            <div class="col-xs-12 col-sm-4">
                                <input type="password" class="form-control" id="oldpassword" name="oldpassword" value="" data-rule="{:__('Old password')}:required;password" placeholder="{:__('Old password')}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newpassword" class="control-label col-xs-12 col-sm-2">{:__('New password')}:</label>
                            <div class="col-xs-12 col-sm-4">
                                <input type="password" class="form-control" id="newpassword" name="newpassword" value="" data-rule="{:__('New password')}:required;password" placeholder="{:__('New password')}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="renewpassword" class="control-label col-xs-12 col-sm-2">{:__('Renew password')}:</label>
                            <div class="col-xs-12 col-sm-4">
                                <input type="password" class="form-control" id="renewpassword" name="renewpassword" value=""  data-rule="{:__('Renew password')}:required;password;match(newpassword)" placeholder="{:__('Renew password')}" />
                            </div>
                        </div>

                        <div class="form-group normal-footer">
                            <label class="control-label col-xs-12 col-sm-2"></label>
                            <div class="col-xs-12 col-sm-8">
                                <button type="submit" class="btn btn-primary btn-embossed">{:__('Submit')}</button>
                                <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#changepwd-form').on('valid.form', function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;
        function success(res) {
            if (res.code) {
                layer.msg(res.msg,{icon:1})
            } else {
                layer.msg(res.msg, {icon: 5});
                setTimeout(function () {
                    location.reload();
                },1000);

            }
        }
    });
</script>