<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
    .box{
        margin-top: 10%;
        margin-bottom: 10px;
        color: #FF5722;
        font-size: 18px;
        margin-left: 45%;
    }
    .box1{
        width: 900px;
        height: 500px;
        margin-left: auto;
        border:solid  1px;
        margin-right:auto;
    }
    .box1 .controls{

    }
    .upload-icon-img{
        height: 100%;
    }
    .upload-pre-item{
        position: relative;
    }
    .upload-pre-item .img{
        margin-top: 5px;
        width:100px;
        height: 100px;
    }
    .upload-pre-item i {
        position: absolute;
        cursor: pointer;
        top: 5px;
        background: #2F4056;
        padding: 2px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        margin-left: 1px;
        /* float: left; */
        filter: alpha(opacity=80);
        -moz-opacity: .8;
        -khtml-opacity: .8;
        opacity: .8;
        transition: 1s;
    }
    .upload-pre-item i:hover{transform:rotate(360deg);}
    .upload-pre-item,.upload-icon-img{
        width:120px;
        float: left;
        margin-left: 8px;
    }
    .qqFace { margin-top: 4px; background: #fff; padding: 2px; border: 1px #dfe6f6 solid; }
    .qqFace table td { padding: 0px; }
    .qqFace table td img { cursor: pointer; border: 1px #fff solid; }
    .qqFace table td img:hover { border: 1px #0066cc solid; }
</style>
<link rel="stylesheet" href="__CDN__/assets/home/css/gallery-grid.css">
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel ">
                <div class="panel-body">

                    {include file="user/userinfo" /}

                    <div class="layui-tab layui-tab-brief" lay-filter="demo">
                        <ul class="layui-tab-title">
                            <li data-url="{:url('user/index')}" >{:__('Home page')}</li>
                            <li data-url="{:url('user/dynamic')}" class="layui-this">{:__('Dynamic state')}</li>
                            <li data-url="{:url('user/photo')}">{:__('Photo album')}</li>
                            <!--<li data-url="{:url('user/video')}">{:__('Video')}</li>-->
                        </ul>
                        <div class="layui-tab-content ">
                            <div class="layui-tab-item "></div>
                            <div class="layui-tab-item layui-show">
                                <div class="com_form row" >
                                    <form id="dynamic-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('dynamic/add')}">
                                        <div class="col-md-10 col-xs-10">
                                            <textarea  placeholder="和大家分享点什么吧" class="layui-textarea form-control" id="saytext" name="content" data-rule="require"></textarea>
                                            <i  class="layui-icon layui-icon-face-smile emotion" style="font-size: 20px; color: #e60020;"></i>
                                        </div>
                                        <div class="col-md-2 col-xs-2" style="padding: 0">
                                            <button class="btn btn-xs btn-primary"  ><i class="layui-icon layui-icon-release"></i>  {:__('Publish')}</button>
                                        </div>
                                        <div class="upload-img-box layui-form-item">
                                            <dd class="upload-icon-img " >
                                                <div class="upload-pre-item">
                                                    <img src="__CDN__/assets/home/img/upload.png" class="img" id="upload_img_icon" style="cursor: pointer;border: 3px #ccc dashed;" alt="上传图片">
                                                </div>
                                            </dd>
                                        </div>
                                    </form>
                                </div>
                                <ul class="layui-timeline" id="LAY-FLOW">

                                </ul>
                            </div>
                            <div class="layui-tab-item"></div>
                            <!--<div class="layui-tab-item"></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__CDN__/assets/home/js/jquery.qqFace.js"></script>
<script type="text/javascript" src="__CDN__/assets/home/js/dynamic.js"></script>
<script type="text/javascript">
    baguetteBox.run('.tz-gallery');
</script>
<script>

    layui.use(['layer','upload','element','flow'], function(){
        var element = layui.element,flow = layui.flow;

        //一些事件监听
        element.on('tab(demo)', function(data){
            var url = $(this).data('url');
            window.location.href = url;
        });
        var layer = layui.layer;
        var upload = layui.upload;
        upload.render({ //上传图片
            elem: '#upload_img_icon',
            url: '/api/common/upload',
            multiple: true, //是否允许多文件上传。设置 true即可开启。不支持ie8/9
            auto:true,//自动上传
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res) {
                layer.close(layer.msg('{:__("Upload successful")}'));
                $('.upload-img-box').append('<dd class="upload-icon-img " ><div class="upload-pre-item"><i onclick="deleteImg($(this))"   class="layui-icon"></i><img src="' + res.data.url + '" class="img" ><input type="hidden" name="case_images[]" value="' + res.data.url + '" /></div></dd>');
            }
            ,error: function(){
                layer.msg('{:__("You have no permission")}');
            }
        });

        flow.load({
            elem: '#LAY-FLOW' //流加载容器
            ,done: function(page, next){ //执行下一页的回调
                var url = '{:url("user/dynamic")}';
                $.post(url, {page:page}, function(res){
                    if(res.code == 1){
                        var lis = [];
                        layui.each(res.data.dynamic, function(index, item){
                            var str = "<li class=\"layui-timeline-item\">\n" +
                                "<i class=\"layui-icon layui-timeline-axis\"></i>\n" +
                                "<div class=\"layui-timeline-content layui-text\">\n" +
                                "\n" +
                                "<p class=\"layui-timeline-title\"> "+replace_em(item.content)+"</p>\n" +
                                "<div class=\"tz-gallery row\" style=\"padding-left: 0;\">" ;
                            if(item.images){
                                layui.each(item.images, function(index1, item1){
                                    str += "<div class=\"tz-img\">\n" +
                                        "<a class=\"lightbox\" href='"+item1.url+"'>\n" +
                                        "<img src='"+item1.url+"'>\n" +
                                        " </a>\n" +
                                        " </div>\n";
                                })
                            }


                            str +="</div>\n" +
                                "<h6 style=\"margin-top: 10px;\">\n" +
                                "<span>"+item.createtime+" </span>\n" +
                                "<span>\n" +
                                " <i class=\"fa fa-thumbs-up fa-fw dianzan\" data-dynamic_id='"+item.id+"' style='cursor: pointer' onclick='dianzan($(this))'></i> <span>"+item.zannum+"</span>\n" +
                                "<i class=\"fa fa-commenting fa-fw pinglun\"data-dynamic_id='"+item.id+"' style='cursor: pointer' onclick='pinglun($(this))'></i> <span>"+item.pinglunnum+"</span>\n" +
                                " </span>\n" +
                                " </h6>\n" +
                                "\n" +
                                " </div>\n" +
                                "</li>";
                            lis.push(str);
                        });
                        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                        next(lis.join(''), page < res.data.total);
                    }else{
                        layer.msg(res.msg);
                    }
                    baguetteBox.run('.tz-gallery');
                });
            }
        });
    });
    function deleteImg(obj){
        //删除页面信息
        obj.parent().parent('.upload-icon-img').remove();
        //删除本地图片（ajax)
        //删除数据库图片
    }


    $(function(){
        $('.emotion').qqFace({
            id : 'facebox',
            assign:'saytext',
            path:'__CDN__/assets/home/arclist/'	//表情存放的路径
        });
        $(".sub_btn").click(function(){
            var str = $("#saytext").val();
            $("#show").html(replace_em(str));
        });
    });

    //查看结果

    function replace_em(str){
        str = str.replace(/\</g,'&lt;');
        str = str.replace(/\>/g,'&gt;');
        str = str.replace(/\n/g,'<br/>');
        str = str.replace(/\[em_([0-9]*)\]/g,'<img src="__CDN__/assets/home/arclist/$1.gif" border="0" />');
        return str;
    }
    //发布动态

    $('#dynamic-form').on('valid.form', function(){

        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;
        function success(res) {
            if (res.code) {
                layer.msg(res.msg);
                setTimeout(function(){
                    window.location.reload();
                },1500);
            } else {
                layer.msg(res.msg);
            }
        }
    });

    /*
    * 点赞
    */
    function dianzan(obj){
        var dynamic_id =obj.data('dynamic_id');
        $.post('{:url("zone/praise")}',{'dynamic_id':dynamic_id},function (res) {
            if(res.code == 1){
                layer.msg(res.msg);
                obj.addClass('bianda');
                setInterval(function () {
                    obj.removeClass('bianda');
                },500);
                obj.next('span').text(Number(obj.next('span').text())+1);
            }else{
                layer.msg(res.msg);
                obj.next('span').text(Number(obj.next('span').text())-1);
            }
        })
    }

    /*
    * 评论
    * */
    function pinglun(obj) {
        var dynamic_id =obj.data('dynamic_id');
        layer.open({
            type: 2,
            title: '查看评论',
            shadeClose: true,
            shade: 0.8,
            area: ['{$ismobile?"90%":"70%"}', '90%'],
            content: '{:url("addons/comment/index")}?dynamic_id='+dynamic_id //iframe的url
        });
    }
</script>
