<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
    .box{
        margin-top: 10%;
        margin-bottom: 10px;
        color: #FF5722;
        font-size: 18px;
        margin-left: 45%;
    }
    .box1{
        width: 900px;
        height: 500px;
        margin-left: auto;
        border:solid  1px;
        margin-right:auto;
    }
    .box1 .controls{

    }
    .upload-icon-img{
        height: 100%;
    }
    .upload-pre-item{
        position: relative;
    }
    .upload-pre-item .img{
        margin-top: 5px;
        width:100px;
        height: 100px;
    }
    .upload-pre-item i {
        position: absolute;
        cursor: pointer;
        top: 5px;
        background: #2F4056;
        padding: 2px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        margin-left: 1px;
        /* float: left; */
        filter: alpha(opacity=80);
        -moz-opacity: .8;
        -khtml-opacity: .8;
        opacity: .8;
        transition: 1s;
    }
    .upload-pre-item i:hover{transform:rotate(360deg);}
    .upload-pre-item,.upload-icon-img{
        width:120px;
        float: left;
        margin-left: 8px;
    }
    .qqFace { margin-top: 4px; background: #fff; padding: 2px; border: 1px #dfe6f6 solid; }
    .qqFace table td { padding: 0px; }
    .qqFace table td img { cursor: pointer; border: 1px #fff solid; }
    .qqFace table td img:hover { border: 1px #0066cc solid; }
</style>
<link rel="stylesheet" href="__CDN__/assets/home/css/gallery-grid.css">
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default ">
                <div class="panel-body">
                    {include file="user/userinfo" /}

                    <div class="layui-tab layui-tab-brief" lay-filter="demo">
                        <ul class="layui-tab-title">
                            <li data-url="{:url('user/index')}" >{:__('Home page')}</li>
                            <li data-url="{:url('user/dynamic')}">{:__('Dynamic state')}</li>
                            <li data-url="{:url('user/photo')}"  class="layui-this">{:__('Photo album')}</li>
                            <li data-url="{:url('user/video')}">{:__('Video')}</li>
                        </ul>
                        <div class="layui-tab-content ">
                            <div class="layui-tab-item "></div>
                            <div class="layui-tab-item"></div>
                            <div class="layui-tab-item layui-show">
                                <div id="LAY_preview">
                                    <fieldset class="layui-elem-field">
                                        <legend>
                                            <button class="btn btn-xs btn-default" data-url="{:url('user/photo')}" id="returns0" >
                                                <i class="layui-icon layui-icon-left"></i>
                                                {:__('Returns')}
                                            </button>
                                            <button class="btn btn-xs btn-info" id="addPhoto" >
                                                <i class="layui-icon layui-icon-add-1"></i>
                                                {:__('Add photos')}
                                            </button>
                                        </legend>
                                        <div class="layui-field-box">
                                            <div class="tz-gallery" id="LAY-FLOW">

                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                            <div class="layui-tab-item"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__CDN__/assets/home/js/dynamic.js"></script>
<script type="text/javascript">
    baguetteBox.run('.tz-gallery');
</script>
<script>

    layui.use(['layer','upload','element','flow'], function() {
        var element = layui.element, flow = layui.flow,upload = layui.upload;

        //一些事件监听
        element.on('tab(demo)', function (data) {
            var url = $(this).data('url');
            window.location.href = url;
        });
        $('#returns0').click(function () {
            var url = $(this).data('url');
            window.location.href = url;
        });

        flow.load({
            elem: '#LAY-FLOW' //流加载容器
            ,done: function(page, next){ //执行下一页的回调
                var url = '{:url("user/photolist")}';
                var album_id = '{$album_id}';
                $.post(url, {page:page,album_id:album_id}, function(res){
                    if(res.code == 1){
                        var lis = [];
                        layui.each(res.data.photos, function(index, item){
                            var str = "<div class=\"tz-img45\">\n" +
                                "<a class=\"lightbox\" href='"+item.image+"'>\n" +
                                "<img src='"+item.image+"'>\n" +
                                "</a>\n" +
                                "</div>";
                            lis.push(str);
                        });
                        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                        next(lis.join(''), page < res.data.total);

                    }else{
                        layer.msg(res.msg);
                    }
                    baguetteBox.run('.tz-gallery');
                });
            }
        });

        upload.render({ //上传图片
            elem: '#addPhoto',
            url: '/api/common/upload',
            auto:true,//自动上传
            done: function(res) {
                var album_id = '{$album_id}';
                $.post('{:url("user/addPhoto")}',{image:res.data.url,album_id:album_id},function (res) {
                    if(res.code ==1){
                        setTimeout(function(){
                            window.location.reload();
                        },1500);
                       layer.msg(res.msg);
                    }else{
                        layer.msg(res.msg)
                    }
                });

            }
            ,error: function(){
                layer.msg('{:__("You have no permission")}');
            }
        });
    });



</script>
